* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loading div:first-child {
  text-transform: uppercase;
  color: #000;
  font-size: 40px;
  position: relative;
}
.loading div:first-child::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 40px;
  height: 100%;
  animation: loading 10s infinite;
  mix-blend-mode: difference;
}

@keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 40px);
  }
  100% {
    left: 0;
  }
}
